   html,body{
     font-size:100%
   }
  .header{
    width:100%;
    height:50px;
    background-color:#083350;
    line-height: 50px;
    z-index:1
  }
  .header .heading{
    padding:5px;
    width: 200px;
    line-height:40px;
    margin-left:20px;
    margin-right:20px
  }
  .heading span{
    font-size:2em;
    color:#fff;
  }
  .new{
    float: left;
    top:0;
    left: 200px;
    line-height: 50px;
    position: absolute;
  }
  .user{
    margin-top:-55px;
    margin-right:20px
  }
  .user>li>a{
    line-height:50px;
    color:#fff;
    text-decoration:none;
  }
  .user>li{
    list-style-type:none
  }
  .user .dropdown-menu{
    left:-100px;
  }
  .user .dropdown-menu i{
    margin-right: 30px;
  }
#contentWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top:50px
}
